body {
	margin-top: 1.0em;
	background-color: #ffffff;
	font-family: Helvetica, Arial, FreeSans, san-serif;
	color: #000000;
}
h1 { 
	font-size: 3.8em; 
	color: #000000; 
	margin-bottom: 3px; 
}
#container {
	margin: 0 auto;
	width: 700px;
}
#textualizer_container {
	margin-top: 20px;
    font-size: 40px;
    width: 700px;
    height: 300px;
}